.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
  }
  
  .navbar img {
    max-width: 100%;
    height: auto;
  }
  
  .navbar .nav-link {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }  


  .card-div{
    display: flex;
    flex-wrap: wrap;
  }