.logo{
    width: 250px;
    height: 130px;
    border-radius: 10px;
}
.header{
    display: flex;
    background-color: blueviolet;
    justify-content: space-between;
}

li{
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
    font-weight:bolder;
    padding: 10px;
    text-decoration: none;
}

*{
    margin: 0;
}
